script==File.read("d3.min.js")
script==File.read("timbre.js")
script==File.read("abc.js")
script==File.read("lodash.js")
script==File.read("pitches.js")
script==File.read("jquery-3.1.0.min.js")
script==File.read("abcjs_basic_2.3-min.js")

coffee:
  window.voices = []
  window.major = [0, 4, 7, 12]
  window.minor = [0, 3, 7, 12]

  for x,i in [1,2,3, 4]
    #voices[i] = T("pluck", {freq:500, mul:0.2})
    #reverb = T("reverb", {room:0.95, damp:0.4, mix:0.75}, voices[i])
    env = T("perc", {a:50, r:2500});
    voices[i] = T("PluckGen", {env:env, mul:0.2});
    reverb = T("reverb", {room:0.15, damp:0.7, mix:0.75}, voices[i])
    voices[i].play()
    reverb.play() 

  $("body").keydown (e) ->
    console.log e.key
    octave = 3
    rootIndex = _.findIndex(Pitches, (p) -> p.name == "#{e.key.toUpperCase()}#{octave}")

    scale = if e.shiftKey then minor else major

    if rootIndex >= 0
      for shift, i in scale
        pitch = Pitches[rootIndex + shift]
        voices[i].noteOnWithFreq(pitch.freq, if i is 0 then 200 else 100)
